.resume {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #232946;
  }
  
  header {
    text-align: center;
    background-color: #2b75b6;
    padding: 20px;
    color: #837d7d;
  }
  
  img {
    max-width: 150px;
    border-radius: 50%;
    border: 4px solid #232946;
  }
  
  h1 {
    color: #fffffe;
  }
  
  p {
    color: #c7cce6;
  }
  
  h2 {
    color: #fffffe;
    border-bottom: 1px solid #b8c1ec;
    padding-bottom: 5px;
    margin-top: 20px;
  }
  
  ul {
    color: #fffffe;
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .left-column,
  .right-column {
    flex-basis: 100%;

  }
  
  .left-column {
    background-color: #232946;
    padding: 10px;
  }
  
  .right-column {
    background-color: #232946;
    padding: 10px;
  }
  
  .social-links {
    text-align: center;
  }

  .social-links img {
    width: 30x; 
    height: 30px; 
  }
    .social-links a {
    display: inline-block;
    margin-right: 10px; 
  }